apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: ecommerce

resources:
  - namespace.yaml
  - serviceaccount.yaml
  - configmap.yaml
  - secrets.yaml
  - deployments/api-gateway.yaml
  - deployments/auth-service.yaml
  - deployments/product-service.yaml
  - deployments/cart-service.yaml
  - deployments/order-service.yaml
  - deployments/inventory-service.yaml
  - deployments/reporting-service.yaml
  - ingress.yaml

commonLabels:
  app.kubernetes.io/part-of: ecommerce
  app.kubernetes.io/managed-by: kustomize
